.idea/
venv/
.vscode/
.env
.venv/
*__pycache__*
*.pyc
upload/*
Untitled*
*.todo
*.sqlite3
supervisord.pid
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
all-users.csv
staticfiles/